*{
    padding: 0;
    margin: 0;
}
body{
    user-select: none;
}
div {
    background-color: cornflowerblue;
}
button {
    color: white;
    background-color: rebeccapurple;
}
button:hover {
    background-color: red;
}
input {
    background-color: bisque;
}